@utility container {
  @apply mx-auto px-normal xl:px-[80px] md:px-[68px]
}

@utility hero-text-gradient {
  background: linear-gradient(90deg, #1A5DE6 0%, #1AA2E6 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@utility hero-shape {
  @apply absolute left-1/2 top-[0] -translate-x-1/2 z-10
}

@utility rotating-circle {
  animation: spin 10s infinite linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}