@use "tailwind";
@use "breakpoints";
@use "typography";
@use "dimensions";
@use "colors";
@use "stroke";
@use "size";
@use "spacing";
@use "theme";
@use "utilities";

* {
    box-sizing: border-box;
}

img {
    margin: 0;
    padding: 0;
}

html, body {
    margin: 0;
    height: 100%;
}

svg {
    display: block;
}

.ReactModal__Body--open {
    overflow: hidden;
    @media (hover: hover) and (pointer: fine) {
        /* Стили для устройств с мышью или трекпадом */
        padding-right: 16px;
    }
}